$mainBodyColor: #f1f1f1;
$mainHeaderColor: #ffffff;
$mainListChatColor: #f1f1f1;

.chat-list {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100%;
  border-radius: 10px 0 0 0;

  .chat-list__header {
    display: flex;
    align-items: center;
    padding: 5px 30px;
    border-radius: 10px 0 0 0;
    background-color: $mainHeaderColor;


    .chat-list__header-user {
      flex: 1;
      display: flex;
      background-color: $mainHeaderColor;

      img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        object-fit: cover;
      }

      .info {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0 10px;

        h4 {
          display: flex;
          font-weight: bold;
        }

        .status {
          line-height: 0;
        }

      }
    }

    .chat-list__header-icons {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      border: 2px solid #000;

      i {
        color: #000;
        font-size: 20px;
        cursor: pointer;
      }

      .dropdown-menu {
       left: 500px;
        top: 70px;
        display: block;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
        z-index: 1;

        .dropdown-item {
          color: black;
          padding: 12px 16px;
          text-decoration: none;
          display: block;
          width: 100%;
          clear: both;
          font-weight: normal;
          line-height: 1.42857143;
          text-align: inherit;
          white-space: nowrap;
          background: none;
          border: 0;

          &:hover {
            background-color: #f1f1f1;
          }
        }

        .dropdown-divider {
          height: 1px;
          margin: 9px 0;
          overflow: hidden;
          background-color: #e5e5e5;
        }
      }
    }
  }

  .chat-list__search{
    display: flex;
    align-items: center;
    padding: 10px 30px;
    border-radius: 0 0 0 0;
    background-color: $mainHeaderColor;

    input {
      flex: 1;
      padding: 10px;
      border-radius: 10px;
      height: 6vh;
      outline: none;
    }

    i {
      font-size: 1.4rem;
      cursor: pointer;
    }
  }
  .chat-list__content{
    align-items: center;
    overflow: auto;
    border-radius: 0 0 0 10px;
    padding: 20px 20px;
    height: 80vh;

    background-color: #c5c5c5;

    .chat-list__content-user {
      display: flex;
      align-items: center;
      border-radius: 10px;
      margin-bottom: 5px;
      padding: 0 20px;

      background-color: #ffffff;

      .avatar {
        font-weight: bold;
        font-size: x-large;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: #282c34;
        color: white;
        align-content: center;
        object-fit: cover;
      }

      .info-message {
        display: flex;
        flex-direction: column;
        padding: 10px 10px;
        align-items: flex-start;

        .info {
          h4 {
            font-weight: bold;
          }
        }

        .chat-list-message {
          p {
            margin-top: 5px;
            line-height: 0;
          }
        }
      }
    }
    .chat-list__content-user:hover{
      background-color: #535353;
      color: white;
      cursor: pointer;
    }
  }
}

.menu {
  position: absolute;
  right: 0;
  top: 100%;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  z-index: 1;
}