$mainBodyColor: white;
$mainHeaderColor: #535353;
$mainFooterColor: #535353;
$mainBoxChatColor: #f1f1f1;
$messageColor: white;
$ownMessageColor: #d0fee1;

.chat-list {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100%;
  border-radius: 10px 0 0 0;

  .chat-list__header {
    display: flex;
    align-items: center;
    padding: 5px 30px;
    border-radius: 10px 0 0 0;
    background-color: $mainHeaderColor;

    .chat-list__header-user {
      flex: 1;
      display: flex;
      align-items: center;

      background-color: $mainHeaderColor;

      img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        object-fit: cover;
      }

      .info {
        display: flex;
        flex-direction: column;
        padding: 0 10px;

        h4 {
          display: flex;
          font-weight: bold;
        }

        .status {
          line-height: 0;
        }
      }
    }

    .chat-list__header-icons {
      flex: 1;
      display: flex;
      justify-content: flex-end;

      background-color: $mainHeaderColor;

      i {
        color: #000;
        font-size: 20px;
        cursor: pointer;
      }
    }
  }
  .chat-list__search{
    display: flex;
    align-items: center;
    padding: 10px 30px;
    border-radius: 0 0 0 0;
    background-color: $mainHeaderColor;

    input {
      flex: 1;
      padding: 10px;
      border-radius: 10px;
      border: none;
      outline: none;
    }

    i {
      font-size: 1.4rem;
      cursor: pointer;
    }
  }
  .chat-list__content{
    align-items: center;
    overflow: auto;
    padding: 5px 30px;
    border-radius: 0 0 0 10px;
    background-color: $mainBoxChatColor;
    height: 100%;

    .chat-list__content-user {
      display: flex;
      align-items: center;

      img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        object-fit: cover;
      }

      .info-message {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0 10px;

        .info {
          h4 {
            font-weight: bold;
          }
        }

        .message {
          p {
            margin-top: 5px;
          }
        }
      }
    }
  }
}