$mainBodyColor: white;
$mainHeaderColor: white;
$mainFooterColor: white;
$mainBoxChatColor: #f1f1f1;

::-webkit-scrollbar {
  width: 10px;
  -webkit-transition: 0.2s;
}

::-webkit-scrollbar-track {
  border-radius: 100px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background: #a0a0a0;
  border-radius: 100px;
}

.chat-box {
  flex: 2;
  display: flex;
  flex-direction: column;
  height: 100%;
  border-radius: 0 10px 10px 0;

  .chat-box__header {
    display: flex;
    align-items: center;
    padding: 5px 30px;
    border-radius: 0 10px 0 0;

    background-color: $mainHeaderColor;

    .chat-box__header-user {
      flex: 1;
      display: flex;
      align-items: center;

      background-color: $mainHeaderColor;

      img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        object-fit: cover;
      }

      .info {
        display: flex;
        flex-direction: column;
        padding: 0 10px;
        align-items: flex-start;

        h4 {
          display: flex;
          font-weight: bold;
        }

        .status {
          line-height: 0;
        }
      }
    }

    .chat-box__header-icons {
      flex: 1;
      display: flex;
      justify-content: flex-end;

      background-color: $mainHeaderColor;

      i {
        font-size: 1.4rem;
      }
    }
  }

  .chat-box__content {
    padding: 20px;
    flex: 1;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;

    background-color: $mainBoxChatColor;




  }

  .chat-box__footer {
    border-radius: 0 0 10px 0;
    background-color: $mainBoxChatColor;

    .chat-box__footer-container {
      margin: auto 20px 20px;
      background-color: $mainFooterColor;
      border-radius: 7px;
      .chat-box__footer-file {
        margin: 5px 20px;
        display: flex;
        align-items: start;

        div{
          display: grid;
          img,video{
            margin-top: 10px;
            max-height: 100px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
          }
          i{
            justify-self: right;
            position: absolute;
            margin-top: 8px;
            margin-right: 3px;
            font-size: 22px;
            cursor: pointer;
          }
        }
      }
      .chat-box__footer-typing {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 50px;
        input {
          flex: 1;
          border: none;
          outline: none;
          margin: 20px;
          font-size: 17px;
        }

        i {
          display: flex;
          font-size: 1.4rem;
          margin: 0 5px;
          cursor: pointer;
        }

        .send-button {
          display: inline-flex;
          align-items: flex-end;
          padding: 5px 20px;
          margin: 0 20px;
          border-radius: 10px;
          border: none;

          background-color: pink;

          i {
            font-size: 1.4rem;
          }
        }
      }
    }
  }
}