$mainColor: #1e1f22;

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;

  background: linear-gradient(145deg, #a9a9a9, $mainColor, #a9a9a9);
}

.chat-window-container.dark-theme {
  display: flex;
  width: 90vw;
  height: 90vh;
}

