$messageColor: white;

.message-container {
  max-width: 70%;
  display: flex;
  flex-direction: column;

  .message-author {
    display: flex;
    font-size: 13px;
    margin-left: 10px;
    height: 20px;
  }

  .message-content {
    display: flex;
    align-items: center;

    .main-message {
      div {
        display: flex;
        align-items: center;
        flex-direction: row;
        border-radius: 10px;
        padding: 5px 20px 5px 5px;
        box-shadow: 4px 4px 5px 0 rgba(0, 0, 0, 0.4);
        -webkit-box-shadow: 4px 4px 5px 0 rgba(0, 0, 0, 0.4);
        -moz-box-shadow: 4px 4px 5px 0 rgba(0, 0, 0, 0.4);
        background-color: $messageColor;
          width: fit-content;
        max-width: 100px;

        img {
          width: 30px;
          height: 30px;
          margin-right: 10px;
        }
      }
      .send-image,.send-video{
        max-height: 100px;
        box-shadow: 4px 4px 5px 0 rgba(0, 0, 0, 0.4);
        -webkit-box-shadow: 4px 4px 5px 0 rgba(0, 0, 0, 0.4);
        -moz-box-shadow: 4px 4px 5px 0 rgba(0, 0, 0, 0.4);
        margin-top: 2px;
        margin-bottom: 20px;
      }
    }

    .time-message {
      display: none;

      p {
        font-size: 13px;
      }
    }
  }
}