$messageColor: white;
.message-container {
  max-width: 70%;
  display: flex;
  flex-direction: column;

  .message-author {
    display: flex;
    font-size: 13px;
    margin-left: 10px;
    height: 20px;
  }

  .message-content {
    display: flex;
    align-items: center;
    .main-message {
      display: grid;
      div {
        display: flex;
        justify-self: left;
        flex-direction: row;
        border-radius: 10px;
        padding: 5px 20px 5px 5px;
        box-shadow: 4px 4px 5px 0 rgba(0, 0, 0, 0.4);
        -webkit-box-shadow: 4px 4px 5px 0 rgba(0, 0, 0, 0.4);
        -moz-box-shadow: 4px 4px 5px 0 rgba(0, 0, 0, 0.4);
        background-color: $messageColor;
        word-wrap: break-word;
        word-break: break-all;
        max-width: 500px;
        .avatar {
          width: 30px;
          height: 30px;
          margin-right: 10px;
        }
      }
      .media {
        background-color: transparent;
        box-shadow: none;
        display: grid;
        grid-template-columns: 1fr 1fr;
        max-width: 300px;
        min-height: 100px;
        width: 300px;

        .send-image,.send-video{
          width: 100%;
          height:100%;
          aspect-ratio: 1 / 1;
          transition: all 0.3s ease;
          object-fit: contain;
          box-shadow: 4px 4px 5px 0 rgba(0, 0, 0, 0.4);
          -webkit-box-shadow: 4px 4px 5px 0 rgba(0, 0, 0, 0.4);
          -moz-box-shadow: 4px 4px 5px 0 rgba(0, 0, 0, 0.4);
        }}

      .file {
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 10px;
        border-radius: 10px;
        margin: 10px 0;
        box-shadow: 4px 4px 5px 0 rgba(0, 0, 0, 0.4);
        -webkit-box-shadow: 4px 4px 5px 0 rgba(0, 0, 0, 0.4);
        -moz-box-shadow: 4px 4px 5px 0 rgba(0, 0, 0, 0.4);
        text-decoration: none;

        a{
          margin-bottom: 10px;
        }

        img{
        max-width: 30px;
          max-height: 30px;
        }
      }
      margin-bottom: 20px;
    }

    .time-message {
      display: none;

      p {
        font-size: 13px;
      }
    }
  }
}